@import url('https://fonts.googleapis.com/css?family=Oswald:500&display=swap');
@font-face {

    font-family: 'Roboto-Light', sans-serif;

    src: url('../fonts/Roboto-Light.ttf');
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Roboto-Light', sans-serif;
}
body,
html,
header {

    height: 100%;
}

p,
ul {
    padding: 0;
}

ul {
	margin: 0!important;
    list-style: none;
}

